<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% data.title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">EJS</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/t?tag=javascript">Javascript</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/t?tag=react">Reactjs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/random">Random</a>
              </li>
             
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>
    <h1 class="text-danger">Tags : <%= data.title %></h1>
    <h4>Description: <%= data.description %></h4>
    <h4>Followers: <%= data.followers %></h4>
    <hr />
    <br />
    <h5>Post</h5>
    <ul>
      <% for (let post of data.posts) { %>
      <li><%= post.title %> - <%= post.author %></li>
      <% } %>
    </ul>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
