<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><% data.title %></title>
</head>
<body>
   <h1>Tags : <%= data.title  %></h1>
   <h4>Description: <%= data.description  %></h4>
   <h4>Followers: <%= data.followers  %></h4>
   <hr>
   <br>
   <h5>Post</h5>
   <ul>
      <% for (let post of data.posts) { %>
         <li><%= post.title  %> - <%= post.author %></li>
      <% } %>
   </ul>
</body>
</html>